
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #00e676;
    margin: 0 10px;
    text-decoration: none;
}

.producto {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 200px;
}

.producto img {
    width: 100%;
}

button {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

#iniciosesion {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 18%;
    margin-top: -3.5%;
}

#carrito {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    margin-top: -3.5%;
}

#bienvenida {
  font-weight: bold;
  color: #00c853;
  position: absolute;
  left: 10%;
  margin-top: -3.5%;
  font-size: 1.5vw;
}

#cerrarSesion {
  background-color: #d9534f;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 18%;
  margin-top: -3.5%;
}

#cerrarSesion:hover {
  background-color: #c9302c;
}

#catalogo-productos {
    margin-top: 20px;
    text-align: center;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    margin-bottom: 40px;
    margin-left: 3%;
}

.catalogo h3 {
    width: 100%;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

